:host {
  display: block;
  padding: 10px 0px;
}
:host .wrapper{
  min-height: 300px;
  background-color: #fff;
}
:host #header{ padding: 10px 16px; }
:host #header core-image{
	border-radius: 50em;
}
:host #header .meta{ padding-left: 16px; }