@import '../../styles/variables';

:host {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
:host #spinner{
	display: block;
	position: absolute;
	border-radius: 50em;
	padding: 6px 6px 3px 6px;
	width: 29px !important;
	height: 30px;
	margin-left: -29px;
}
:host .wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: $bg-color;
}
