@import '../../styles/variables';

:host {
  background-color: #fff; 
  display: block;
  position: absolute;

  core-toolbar * {
    color: #fff; 
  }
  core-toolbar {
    background-color: $bar-color; 
  }
  post-list {
    width: 90%; 
  }

  #content {
    height: 100%;
    position: absolute; 
    width: 100%;
  }
  #content core-header-panel {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: $bg-color;
  }
  
}