:host {
  	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}
:host paper-shadow{
	background-color: #fff;
	padding: 6px 6px 3px 6px;
	border-radius: 50em;
	width: 28px;
	height: 31px;
}
